{% extends "base.html.twig"%}

{% block main %}

<h1>Listar Disciplinas</h1>

<a href="/disciplina/cadastro" class="btn btn-success mb-3">Cadastrar Nova Disciplina</a>

{% if disciplinas|length == 0 %}
    <div class="alert alert-info">
        Nenhuma disciplina cadastrada.
    </div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Período</th>
            <th>CH Total</th>
            <th>CH Semanal</th>
            <th>Grade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for disciplina in disciplinas %}
        <tr>
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.periodo }}</td>
            <td>{{ disciplina.carga_horaria_total }}</td>
            <td>{{ disciplina.carga_horaria_semanal }}</td>
            <td>{{ disciplina.grade_ano }}</td>
            <td>
                <a href="/disciplina/atualizar/{{ disciplina.id }}" class="btn btn-primary">Editar</a>
                <a href="/disciplina/excluir/{{ disciplina.id }}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}