{% extends "base.html.twig"%}

{% block main %}

<h1>Listar Curso</h1>

<a href="/curso/cadastro" class="btn btn-success mb-3">Cadastrar Novo Curso</a>

{% if cursos |length == 0 %}
    <div class="alert alert-info">
        Nenhuma curso cadastrada.
    </div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data início</th>
            <th>Habilitação</th>
            <th>Unidade</th> 
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.descricao }}</td>
            <td>{{ curso.data_incico }}</td>
            <td>{{ curso.habilitacao }}</td>
            <td>{{ curso.unidade }}</td>
          
            <td>
                <a href="/curso/atualizar/{{ curso.id }}" class="btn btn-primary">Editar</a>
                <a href="/curso/excluir/{{ curso.id }}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}